* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*==== VARIABLES ===============*/
:root {
    --main-bg-color: #111111;
    --main-text-color: #fff;
    --font-primary: 'Nexa';
}
/*==== COMMON =================*/
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--font-primary), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.no-wrap {
    flex-wrap: nowrap !important;
}
.column {
    flex-direction: column;
}
.center {
    align-items: center;
}
.just-btwn {
    justify-content: space-between;
}
.just-center {
    justify-content: center;
}
.flex-end {
    justify-content: flex-end;
}

/*==== HEADER ================*/
.header {
    width: 100%;
    background-color: #181818;
    padding: 1rem 0;
}
.header-logo-img {
    width: 6.5rem;
    height: auto;
    display: block;
}

/*===========================*/
.main-wrapper {
    min-height: 100vh;
}
.main {
    flex: 1;
}
.quiz-step {
    display: none;
}
.quiz-step.active {
    display: flex;
}
.question-wrapper {
    padding: 4rem 0 2rem 0;
    border-bottom: 1px solid #222222;
}
.question-wrapper .container .text-secondary {
    margin-left: auto;
}
.question-number {
    color: #BFBFBF;
    font-weight: 300;
    font-size: 16px;
    margin-right: 1rem;
}
.question-name {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #FFFFFF;
}
.answer-wrapper {
    padding: 3.5rem 0 3rem 0;
}
.answer-wrapper .container {
    height: 100%;
}

/*==== INPUT-TEXT ===========================*/
.form-control.text,
.form-control.email,
.form-control.adv-input,
.form-control.number {
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #404040;
    outline: none;
    font-family: var(--font-primary), sans-serif;
    color: #fff;
    position: relative;
}
.form-control.text::placeholder,
.form-control.email::placeholder,
.form-control.adv-input::placeholder,
.form-control.number::placeholder {
    color: #7D7D7D;
}
.form-control.text:focus,
.form-control.email:focus,
.form-control.adv-input:focus,
.form-control.number:focus {
    border: 1px solid #F19422 !important;
}
.form-control.text.valid,
.form-control.email.valid,
.form-control.number.valid {
    border: 1px solid #F19422;
    background-image: url(../img/svg/checked-orange.svg);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 99% 50%;
}
.form-control.adv-input.valid {
    background-image: none !important;
    border: 1px solid #404040;
}


/*==== INPUT-RADIO ===========================*/
.form-group.radio {
    width: 49.3%;
    margin-bottom: 1.5rem;
}
.form-group.radio input {
    display: none;
}
.form-group.radio label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem 0 3.75rem;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #404040;
    outline: none;
    font-family: var(--font-primary), sans-serif;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.form-group.radio label::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-color: #282828;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 1.25rem;
    margin-right: 1rem;
}
.form-group.radio input:checked~label {
    border: 1px solid #F19422;
}
.form-group.radio input:checked~label::before {
    background-image: url('../img/svg/checked-orange.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}

/*==== INPUT-CHECKBOX ===============*/
.form-group.checkbox {
    width: 49.3%;
    margin-bottom: 1.5rem;
    height: 3.5rem;
}
.form-group.checkbox.w-100 {
    width: 100%;
    margin-bottom: 0;
}
.form-group.checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    opacity: 0;
}
.form-group.checkbox label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem 0 3.75rem;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #404040;
    outline: none;
    font-family: var(--font-primary), sans-serif;
    color: #fff;
    position: relative;
    cursor: pointer;
    position: relative;
    transform: translateY(-50%);
}
.form-group.checkbox label::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-color: #282828;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 1.25rem;
    margin-right: 1rem;
}
.form-group.checkbox input:checked~label {
    border: 1px solid #F19422;
}
.form-group.checkbox input:checked~label::before {
    background-image: url('../img/svg/checked-orange.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}

/*==== ADDED LIST ITEM =============*/
.added-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 0.7rem 0 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #F19422;
    color: #F19422;
    margin-bottom: 1.5rem;
}
.delete-btn {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('../img/png/cancel.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.7rem;
    transition: all .2s ease;
}
.delete-btn:hover {
    background-color: #212121;
}
.form-group {
    position: relative;
}
.form-control.text.advertiser {
    background-image: none !important;
}
.add-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgb(46, 169, 58);
    color: #fff;
    cursor: pointer;
    border: none;
    background-image: url('../img/png/plus.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.85rem;
}

/*==== ADDITION INPUT ================*/
.addition-input-wrapper {
    display: none;
    margin-top: 4rem;
}
.addition-input-heading {
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.5;
    color: #C8C8C8;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.list-message {
    font-size: 1rem !important;
    margin-bottom: 2rem;
    color: #888 !important;
}
.added-items-list {
    margin-bottom: 2rem;
    border-bottom: 1px solid #444;
    padding-bottom: 0.5rem;
}

/*==== NUMBER INPUT =======================*/
.form-control.text.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    opacity: 0;
}

/*==== CONTROL-PANEL ======================*/
.control-panel {
    padding: 2rem 0 3rem 0;
}
.arrow-back-img {
    width: 3rem;
    height: 3rem;
    display: block;
    cursor: pointer;
    opacity: 0
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.5rem;
    min-height: 3rem;
    background: #FFFC52;
    border-radius: 32px;
    font-family: var(--font-primary), sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #111111;
    cursor: pointer;
    border: none;
    opacity: 0.5;
    transition: .1s;
}
.btn:active {
    transform: scale(0.99);
}
.arrow-next-img {
    width: 14px;
    height: auto;
    margin-left: 1rem;
}
.text-secondary {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2;
    color: #666666;
    margin-left: 1.5rem;
}
.text-secondary strong {
    font-weight: 800;
    color: #8A8A8A;
}
.control-panel .container {
    position: relative;
}
.notification {
    position: absolute;
    right: 12%;
    top: -290%;
    text-align: right;
    font-size: 1.2rem;
    opacity: 0;
    z-index: -3;
    transition: .3s;
}
.arrow-down {
    display: block;
    width: 2.5rem;
    margin-top: 1rem;
    float: right;
}
.notification.active {
    opacity: 1;
    z-index: 3;
}


/*==== FOOTER =====================*/
.footer {
    width: 100%;
    background-color: transparent;
}
.progress-wrapper {
    border-top: 1px solid #222222;
    padding: 1.5rem 0;
}
.footer-text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    color: #BFBFBF;
    margin-right: 10px;
}
.footer-text span {
    font-weight: 700;
    color: #F19422;
}
.progress-bar {
    position: relative;
    width: 100%;
    height: 0.5rem;
    background-color: #242424;
    border-radius: 8px;
    overflow: hidden;
}
.progress-bar-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: repeating-linear-gradient(
    -55deg,
    #EE9534,
    #EE9534 6px,
    #FBB564 6px,
    #FBB564 12px
    );
    transition: .3s;
}


/*==== THANKYOU MODAL =============*/
.thankyou-heading {
    font-weight: 800;
    font-size: 4rem;
    line-height: 1.5;
    color: #FFFFFF;
}
.thankyou-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #FFFFFF;
    margin: 1rem 0 3.5rem 0;
}
.btn-link {
    margin: 0 auto;
    opacity: 1 !important
}

/*==== MODAL MESSAGE ==============*/
.message-modal {
    position: fixed;
    z-index: -3;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(12px);
    transition: .3s;
}
.message-modal.active {
    z-index: 33;
    opacity: 1;
}
.message-modal-content {
    width: 90%;
    max-width: 500px;
    background-color: #181818;
    color: #fff;
    position: relative;
    font-size: 1.4rem;
    line-height: 1.4;
    padding: 2.5rem 1.5rem;
    border-radius: 8px;
    text-align: center;
}
.message-text {
    margin-bottom: 2rem;
}
.close-img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}


/*==== MEDIA QUERIES ==============*/
@media (max-width: 1600px) {
    .header-logo-img {
        width: 4.5rem;
    }
    .container {
        max-width: 1080px;
    }
    .question-name {
        font-size: 1.3rem;
    }
    .answer-wrapper {
        padding: 2.5rem 0 2rem 0;
    }
    .form-group input[type=text],
    .form-group input[type=email],
    .form-group input[type=number] {
        height: 3.2rem;
    }
    .form-group input[type=text].valid,
    .form-group input[type=email].valid,
    .form-group input[type=number].valid {
        background-size: 1.25rem;
    }
    .text-secondary {
        font-size: 0.85rem;
    }
    .form-group.radio {
        margin-bottom: 1rem;
    }
    .form-group.radio label {
        height: 3.2rem;
        padding: 0 1.5rem 0 3rem;
    }
    .form-group.radio label::before {
        width: 1.25rem;
        height: 1.25rem;
        left: 1rem;
    }
    .form-group.checkbox {
        width: 49.3%;
        margin-bottom: 1.5rem;
        height: 4rem;
    }
    .form-group.checkbox {
        width: 49.3%;
        margin-bottom: 1.5rem;
        height: 2.6rem;
    }
    .form-group.checkbox label {
        height: 3.2rem;
        padding: 0 1.5rem 0 3rem;
    }
    .form-group.checkbox label::before {
        width: 1.25rem;
        height: 1.25rem;
        left: 1rem;
    }
    .added-items-list {
        margin-bottom: 1.5rem;
    }
    .added-list-item {
        height: 3.2rem;
        margin-bottom: 1rem;
        background-size: 1.25rem;
    }
    .add-btn {
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
    }
    .thankyou-heading {
        font-size: 3rem;
    }
    .thankyou-text {
        font-size: 1.1rem;
        margin: 1rem 0 2.5rem 0;
    }
}

@media (max-width: 1200px) {
    .btn-wrapper .text-secondary {
        display: none;
    }
}

@media (max-width: 992px) {
    .notification {
        right: 2%;
        top: -300%;
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .question-wrapper {
        padding: 2rem 0 2rem 0;
    }
    .question-wrapper .container {
        flex-wrap: wrap;
    }
    .question-name {
        font-size: 1rem;
    }
    .answer-wrapper {
        padding: 2rem 0 2rem 0;
    }
    .form-group input[type=text],
    .form-group input[type=email],
    .form-group input[type=number] {
        height: 3rem;
        font-size: 0.875rem;
        padding: 0 1rem;
    }
    .form-control.text.valid, 
    .form-control.email.valid {
        background-position: 98% 50%;
    }
    .form-group.radio {
        width: 100%;
        margin-bottom: 0.75rem;
    }
    .form-group.radio label::before {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
    }
    .form-group.radio label {
        height: 3rem;
        padding: 0 1.5rem 0 2.5rem;
        font-size: 0.875rem;
    }
    .form-group.checkbox {
        width: 100%;
        margin-bottom: 1rem;
        height: 2.8rem;
    }
    .form-group.checkbox label {
        height: 3rem;
        padding: 0 1.5rem 0 2.5rem;
        font-size: 0.875rem;
    }
    .form-group.checkbox label::before {
        width: 1rem;
        height: 1rem;
        left: 0.8rem;
    }
    .list-message {
        margin-bottom: 1rem;
    }
    .added-list-item {
        height: 3rem;
        margin-bottom: 0.875rem;
        background-size: 1rem;
        font-size: 0.875rem;
        padding: 0 0.5rem 0 1rem;
        background-position: 96% 50%;
    }
    .delete-btn {
        width: 2rem;
        height: 2rem;
        background-size: 0.7rem;
    }
    .addition-input-wrapper {
        margin-top: 3rem;
    }
    .addition-input-heading {
        font-size: 0.875rem;
        margin-bottom: 0.75rem;
    }
    .control-panel {
        padding: 2rem 0 2rem 0;
    }
    .arrow-back-img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .btn {
        width: 12rem;
        min-height: 2.5rem;
        font-size: 0.875rem;
    }
    .arrow-next-img {
        width: 8px;
        margin-left: 12px;
    }
    .progress-wrapper .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-text {
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }
    .question-wrapper .container .text-secondary {
        margin-top: 0.5rem;
        width: 100%;
    }
    .add-btn {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.2rem;
        right: 3%;
    }
    .notification {
        right: 2%;
        top: -310%;
        font-size: 1.1rem;
    }
    .arrow-down {
        display: block;
        width: 2rem;
        margin-top: 1rem;
        float: right;
    }
    .thankyou-heading {
        font-size: 2.5rem;
    }
    .thankyou-text {
        font-size: 0.875rem;
        margin: 0.625rem 0 2.5rem 0;
    }
}
